{% extends "personal/header.html" %}
{% load static %}
{% block content %}
	<h2>Blogs</h2>
	<p style="font-size: 20px; font-weight:500">
		Blogs provide an efficient way to learn new things. Writing a blog involves reading and assessing other resources available on the internet and applying the knowledge gained recently. Blog writing increases the knowledge base of the writer as well as helping others who had a curiosity or usage of the same topic of the blog. Writing blogs is an excellent exercise to keep yourself updated. I prefer writing a blog or an article every time I found some topic exciting or worth sharing.
	</p>
	<h3> Here are the articles that I had contributed via GeekforGeeks </h3>
	<br>
	{% for post in object_list %}
	<ul>
		<li><a data-toggle="tooltip" data-placement="top" title="Click here here to view the Post" href="/blog/{{post.id}}" class="btn btn-dark" role="button" aria-pressed="true">
		<img src="{% static 'blog/gfg.jpg' %}" alt="alternatetext" width="500" height="200">
			<br>
		{{ post.title }}</a></li>
		<br>
	</ul>
	{% endfor %}
{% endblock %}