<!DOCTYPE html>
<html lang="en">

<head>
	<title>Pulkit Dhingra</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	
	<style type="text/css">
		html,
		body {
		  height:100%;
		  
  		}
	</style>
</head>

<body class="body" >
	<div class="container-fluid" style="min-height:95%; background-image:url('{% static 'personal/img/background.jpg' %}');background-repeat: no-repeat;background-attachment: fixed;
  background-size: 100% 100%; " >
		<div class="row" style="background-color:#303841">
			  <div class="col-sm-2">
				  <br>
				  <center>
					<img src="{% static 'personal/img/profile.jpeg' %}" class="responsive-img" style='max-height:100px;' alt="face">
					<br>
				  </center>
			  </div>
			  <div class="col-sm-10">
			  	<div class="text-white">
				  <br>
				  <center>
				  <h3>Pulkit Dhingra</h3>
				  </center>
				</div>
				<center>
					<strong>
					<a href="https://public.tableau.com/profile/pulkit.dhingra#!/?newProfile=&activeTab=0" class="btn btn-light" role="button" aria-pressed="true">Tableau Profile</a>
					<a href="https://www.credly.com/users/pulkit-dhingra/badges" class="btn btn-light" role="button" aria-pressed="true">Acclaim Badges</a>
					<a href="https://auth.geeksforgeeks.org/user/pulkit12dhingra/articles" class="btn btn-light" role="button" aria-pressed="true">Article Contributions</a>
					<a href="https://drive.google.com/drive/folders/18coxZ_WHgQbXF6O0XURnJ6JaijHtsNId?usp=sharing" class="btn btn-light" role="button" aria-pressed="true">Certifications</a>
					</strong>
				</center>
				  
				  
			  </div>
		</div><hr>


		   <!-- Great, til you resize. -->
			<!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->
			<!--<div class="well bs-sidebar" id="sidebar" style="background-color:#303841" >
			  <ul class="nav flex-column">
				<li class="nav-item"><a class="nav-link" href='/'>Home</a></li>
				<li class="nav-item"><a class="nav-link" href='/blog/'>Blog</a></li>
				<li class="nav-item"><a class="nav-link" href='/contact/'>Contact</a></li>
			  </ul>
			</div> 
-->
<nav class="navbar navbar-expand-md navbar-dark">
    <div class="container">
        
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/blog/">Blog</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/contact/">Contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>
          
        </div>
    </div>
</nav>
    		<div class="row">
		  <div class="col-sm-1">
		  <br>
		  <br>

		  </div> <!--col-sm-2-->
		  <div class="col-sm-10">
		  
			<div class='container-fluid'>
				<div class="text-white">
			<br><br>
			<font color="black">
			   {% block content %}
			   {% endblock %}	
			</div>
		</font>
		</div>
		  </div>
		</div> 
	</div>
	<!--<footer style="background-color:#303841">
		<div class="container-fluid" style='margin-left:25px' >
			<p><a href="/contact" target="blank">Contact</a> | <a href="https://www.linkedin.com/in/pulkit-dhingra-4b7312193/" target="blank">LinkedIn</a> | <a href="https://github.com/Pulkit12dhingra" target="blank">Github</a> | <a href="mailto:pulkit12dhingra@gmail.com" target="blank">Gmail</a></p>
		</div>
	</footer>	
	-->
	<footer class="footer text-center margin" style="background-color:#303841">
		<font color="white">
	  <div class="container">
		<div class="row">
		  <div class="col-md-4 mb-5 mb-lg-0">
			<h4 class="text-uppercase mb-4">Location</h4>
			<p class="lead mb-0">Lucknow, India
			  <br></p>
		  </div>
		  <div class="col-md-4 mb-5 mb-lg-0">
			<h4 class="text-uppercase mb-4">Follow</h4>
			<ul class="list-inline mb-0">
			  <li class="list-inline-item">
				<a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
				  <i class="fab fa-fw fa-facebook-f">f </i>
				</a>
			  </li>
			  <li class="list-inline-item">
				<a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
				  <i class="fab fa-fw fa-google-plus-g">G+</i>
				</a>
			  </li>
			  <li class="list-inline-item">
				<a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
				  <i class="fab fa-fw fa-twitter">in</i>
				</a>
			  </li>
			</ul>
		  </div>
		  <div class="col-md-4">
			<h4 class="text-uppercase mb-4">About This Website</h4>
			<p class="lead mb-0">This is a django based, personal portfolio website created by
				<b>Pulkit Dhingra</b>.</p>
		  </div>
		</div>
	</font>
	  </div>
	</footer>
</body>

</html>