<!DOCTYPE html>
<html lang="en">

<head>
	<title>Pulkit Dhingra</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	
	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<body class="body" style="background-color:#dcdcdc">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			  <div class="col-sm-2">
				  <br>
				  <center>
					<img src="{% static 'personal/img/profile.jpeg' %}" class="responsive-img" style='max-height:100px;' alt="face">
				  </center>
			  </div>
			  <div class="col-sm-10">
				  <br>
				  <center>
				  <h3>Pulkit Dhingra</h3>
				  </center>
				  <a href="https://public.tableau.com/profile/pulkit.dhingra#!/?newProfile=&activeTab=0" style="margin-right:1000px">Tableau Profile</a><a href="https://www.credly.com/users/pulkit-dhingra/badges">Acclaim Badges</a>
				  <a href="https://auth.geeksforgeeks.org/user/pulkit12dhingra/articles" style="margin-right:965px">Article Contributions</a><a href="https://drive.google.com/drive/folders/18coxZ_WHgQbXF6O0XURnJ6JaijHtsNId?usp=sharing">Certifications</a>
			  </div>
		</div><hr>

		<div class="row">
		  <div class="col-sm-1">
		  <br>

		  <br>
		   <!-- Great, til you resize. -->
			<!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->
			<div class="well bs-sidebar" id="sidebar" style="background-color:#fff">
			  <ul class="nav flex-column">
				<li class="nav-item"><a class="nav-link" href='/'>Home</a></li>
				<li class="nav-item"><a class="nav-link" href='/blog/'>Blog</a></li>
				<li class="nav-item"><a class="nav-link" href='/contact/'>Contact</a></li>
			  </ul>
			</div> <!--well bs-sidebar affix-->
		  </div> <!--col-sm-2-->
		  <div class="col-sm-10">
		  
			<div class='container-fluid'>
			<br><br>
			   {% block content %}
			   {% endblock %}	
			</div>
		  </div>
		</div> 
	</div>
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="/contact" target="blank">Contact</a> | <a href="https://www.linkedin.com/in/pulkit-dhingra-4b7312193/" target="blank">LinkedIn</a> | <a href="https://github.com/Pulkit12dhingra" target="blank">Github</a> | <a href="mailto:pulkit12dhingra@gmail.com" target="blank">Gmail</a></p>
		</div>
	</footer>	
	
</body>

</html>