{% extends "personal/header.html" %}
{% block content %}
	<h2>Projects</h2>
	<p style="font-size: 20px; font-weight:500">
		Whenever we take an online course or get some knowledge, the instructor says <b>"get your hands dirty over the code"</b>. Creating a project is often referred to as best practice to understand the basics intuition behind the code. Working on a project is a journey of resolving errors to understanding the basic mistakes to get an idea of what and how things work. A complete working project boosts the confidence level and increases the curiosity to hunt for more. I prefer to work on projects to test my knowledge and gain practical intuition, and the errors may encounter working on a similar project. Here is a list of a few of my end-to-end developed projects. Though there are more fun stuff on my <a href="https://github.com/Pulkit12dhingra" target="_blank">GitHub</a>.
	</p>
	<h3> Here are few of the projects that I had worked upon in my journey so far. </h3>
	<br>
	{% for post in object_list %}
	<ul>
		<li><a href="/projects/{{post.id}}" class="btn btn-dark" role="button" aria-pressed="true">{{ post.title }}</a></li>
		<br>
	</ul>
	{% endfor %}
{% endblock %}